<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sprint: Database Part 2</title>
    <style>
      td,
      th {
        border: 1px solid;
        padding: 0.5em 1em;
      }
      dt {
        font-weight: bold;
      }
      dd {
        margin: 0.5em 0 1em 0;
      }

      .site-nav__list {
        padding-left: 0;
      }
      .site-nav__item {
        display: inline-block;
        border-right: 1px solid;
        padding-right: 1em;
        padding-left: 1em;
      }
      .site-nav__item:last-child {
        border-right: none;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item"><a href="/">Home</a></li>
          <li class="site-nav__item"><a href="/pubs">Pubs</a></li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
</html>
